{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">

            {% for category in category_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ category.name }}</h2>
                    <p class="card-text text-muted h6">{{ category.created}} </p>
                    <p class="card-text">{{category.content|slice:":200" }}</p>
                    <img src="{{category.image.url}}" width="100" height="100">
                    <a href="{{ category.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
                    <a href="{{ category.get_update_url }}" class="btn btn-primary">edit &rarr;</a>
                    <a href="{{ category.get_delete_url }}" class="btn btn-primary">delete &rarr;</a></td>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}