{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> Our working chat, where you can ask questions on the technical side, send the
                completed task also to our chat</p>
            <a href="https://docs.google.com/document/d/1C0uAHLdB1KRt_cwV8_qkBbqJyStaPeLs3xvHotBWU7w/edit"
               class="btn btn-danger">Know more!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}